{%include 'macro.html'%}

<body>
    <h2><a href="/weather">Query Weather</a></h2>
    <h2><a href="/history">View Query History</a></h2>

    <ul>
        {% for query in data|reverse %}
        <li>
            <div class="widget">

                <div class="left-panel panel">
                    <div class="date">
                        {{ query.timestamp }}
                    </div>
                    <div class="city">
                        {{ query.city_name }}
                    </div>
                    <div class="temp">
                        {{ query.temperature }}&deg;
                    </div>
                </div>
                <div class="right-panel panel">
                    <img src="https://openweathermap.org/img/wn/{{query.icon}}@2x.png">
                    <p>{{ query.description }}</p>
                </div>

            </div>
            <br>
        </li>
        {% endfor %}
    </ul>
</body>

</html>